body {
  font-family: "Roboto Condensed", sans-serif;
  color: #272829;
}
nav {
  width: 100%;
  padding: 10px;
  height: 45px;
}
.navAndContent {
  position: fixed;
  right: 0;
  width: 82%;
  bottom: 0;
  top: 0;
  background: -webkit-linear-gradient(
    135deg,
    rgb(58, 58, 61),
    rgb(64, 64, 67),
    rgb(52, 52, 55),
    rgb(34, 35, 39)
  );;
}
span {
  position: absolute;
  right: 30px;
}
a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18%;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #131416;
  overflow-y: auto;
}

header .profile img {
  width: 150px;
  border: 2px solid #777a89;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}

header .profile h1 {
  font-size: 24px;
  color: #777a89;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
hr {
  background-color: rgb(41, 37, 37);
  width: 80%;
}

nav a,
header .profile h1,
header .profile h1 a,
.lists a ,.navAndContent .cont{
  color: #6d6e73;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

nav a:hover,
header .profile h1 a:hover,
.lists a:hover {
  color: rgba(205, 210, 205, 0.912);
  text-decoration: none;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #464b5d;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links .social {
  display: inline-block;
}

.github a:hover {
  color: black;
}

.facebook a:hover {
  color: rgba(65, 111, 249, 0.881);
}

.twitter a:hover {
  color: rgba(74, 205, 234, 0.881);
}

.instagram a:hover {
  color: rgb(218, 108, 108);
}

.cont {
  top: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #131416;
    overflow-y: auto;
  }

}